body {
    background-color: #454545;
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

h1 {
    display: flex;
    justify-content: center;
}

.selections {
    display: flex;
    justify-content: space-evenly;
}

.selection {
    border: none;
    background: none;
    outline: none;
    background-color: #454545;
    cursor: pointer;
    font-size: 10rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.1);
    background-color: #454545;
}

.score {
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
}

#selection-record {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

.text-content {
    display: flex;
}

